@import "stylesheets/variables";

.browseCategories {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding: 0 0.5rem;
}

.browseCategory {
  border-bottom: 0.075rem solid $lightBorderColor;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;

  @media (min-width: $mediumRem) {
    flex-wrap: nowrap;
  }
}

.link {
  border-bottom: 0.075rem;
  display: flex;
  height: 100%;
  padding: 0.85rem 0;
}

.textWrapper {
  max-width: 100%;
  margin: 0 0.5rem;
}

.imageWrapper {
  border: 0.075rem solid rgba(0, 0, 0, 0.1);
  height: 20rem;
  margin: 0 0.5rem;
  width: calc(100% - 1rem);

  @media (max-width: $smallRem) {
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
}
