@import "stylesheets/variables";

.featureTitle {
  width: 100%;
}

.contributorBrowse {
  line-height: 1.25;
  margin-top: 2rem;

  @media (min-width: $largeRem) {
    margin-top: 2rem;
  }
}

.contributorLink {
  border-bottom: 0.075rem solid $grayBorderColor;
  display: flex;
  height: 100%;
  padding: 0.85rem 0;
}

.name {
  font-family: $serifFont;
  font-size: 1.3125rem;
  margin-right: 0.75rem;
  max-width: 75%;
}

.itemCount {
  color: $dimmedTextColor;
  font-size: 1.25rem;
  margin-left: auto;
}

.contributorMap {
  position: relative;
  margin-top: 5%;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
